@model ContactVM

@{
    ViewData["Title"] = "Contact Page";
}

<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Contact Us</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Contact" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- contact wrapper area start -->
    <div class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-message">
                        <h2 class="contact-title">tell us your project</h2>
                        <form id="contact-form" asp-controller="Contact" asp-action="Index" method="post" class="contact-form">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input placeholder="Name *" type="text" asp-for="SendMessage.Name" required>
                                    <span class="text-danger my-1" asp-validation-for="SendMessage.Name"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input placeholder="Phone *" type="text" asp-for="SendMessage.Phone" required>
                                    <span class="text-danger my-1" asp-validation-for="SendMessage.Phone"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input placeholder="Email *" type="text" asp-for="SendMessage.Email" required>
                                    <span class="text-danger my-1" asp-validation-for="SendMessage.Email"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input placeholder="Subject *" type="text" asp-for="SendMessage.Subject">
                                    <span class="text-danger my-1" asp-validation-for="SendMessage.Subject"></span>
                                </div>
                                <div class="col-12">
                                    <div class="contact2-textarea text-center">
                                        <input placeholder="Message *" class="form-control2" asp-for="SendMessage.Message" required=""></input>
                                        <span class="text-danger my-1" asp-validation-for="SendMessage.Message"></span>
                                    </div>
                                    <div class="contact-btn">
                                        <button class="btn" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              
            <div class="col-lg-6">
                <div class="contact-info pt-0">
                    <h2 class="contact-title">@Model.Contact.Title</h2>
                    <p>
                        @Model.Contact.Description
                    </p>
                    <ul>
                        <li><i class="fa fa-fax"></i>@Model.Contact.Address</li>
                        <li><i class="fa fa-phone"></i>@Model.Contact.Email</li>
                        <li><i class="fa fa-envelope-o"></i>@Model.Contact.Phone</li>
                    </ul>
                    <div class="working-time">
                        <h3>Working Hours</h3>
                        <p class="pb-0">
                            @Html.Raw(Model.Contact.WorkingHours)
                        </p>
                    </div>
                </div>
            </div>
                
                
            </div>
        </div>
    </div>
    <!-- contact wrapper area end -->
</main>
<!-- main wrapper end -->
